<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Taller</title>
	<link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container my-5">
		<main>
			<div class="card" style="width: 30rem;">
				<div class="card-body">
					<h5 class="card-title">Ingreso de vehiculo al taller</h5>
					<br>
					<form th:action="@{/new-car}" method="post" th:object="${car}">
						<div class="mb-3">
							<label for="model" class="form-label">Modelo</label>
							<input type="text" class="form-control" id="model" th:field="*{model}">
						</div>
						<div class="mb-3">
							<label for="brand" class="form-label">Marca</label>
							<input type="text" class="form-control" id="brand" th:field="*{brand}">
						</div>
						<div class="mb-3">
							<label for="color" class="form-label">Color</label>
							<input type="text" class="form-control" id="color" th:field="*{color}">
						</div>
						<div class="mb-3">
							<label for="engine" class="form-label">Motor</label>
							<input type="text" class="form-control" id="engine" th:field="*{engine}">
						</div>
						<div class="mb-3">
							<label for="licensePlate" class="form-label">Placa</label>
							<input type="text" class="form-control" id="licensePlate" th:field="*{licensePlate}">
						</div>
						<div class="mb-3">
							<label for="numberDoors" class="form-label">Cantidad de puertas</label>
							<input type="text" class="form-control" id="numberDoors" th:field="*{doorsQuantity}">
						</div>
						<div class="mb-3">
							<label for="modelYear" class="form-label">Año</label>
							<input type="text" class="form-control" id="modelYear" th:field="*{modelYear}">
						</div>
						<button class="btn btn-primary" type="submit">Guardar</button>
					</form>
				</div>
			</div>
		</main>
		<script type="text/javascript"
				src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
	</div>
</body>
</html>
