<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Taller</title>
	<link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container pt-5 my-5">
		<main>
			<h2>Lista de vehiculos</h2>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Modelo</th>
						<th scope="col">Marca</th>
						<th scope="col">Color</th>
						<th scope="col">Motor</th>
						<th scope="col">Placa</th>
						<th scope="col">Cantidad de puertas</th>
						<th scope="col">Fecha y hora de ingreso</th>
						<th scope="col">Fecha estimada de salida</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="car : ${cars}">
						<td th:text="${carStat.index + 1}">#</td>
						<td th:text="${car.model}">Modelo</td>
						<td th:text="${car.brand}">Marca</td>
						<td th:text="${car.color}">Color</td>
						<td th:text="${car.engine}">Motor</td>
						<td th:text="${car.licensePlate}">Placa</td>
						<td th:text="${car.doorsQuantity}">Cantidad</td>
						<td th:text="${#temporals.format(car.admissionDate, 'dd-MM-yyyy hh:mma')}">
							FI
						</td>
						<td>FES</td>
						<td>
							<button>Detalle</button>
							<button>Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
		<script type="text/javascript"
				src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
	</div>
</body>
</html>
