<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
	<head th:replace="~{layout/template :: head}">
		<meta charset="UTF-8">
		<meta name="viewport"
					content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title th:text="${title}">Document</title>
	</head>
	<body>
		<header th:replace="~{layout/template :: header}"></header>
		<div class="container my-5">
			<div class="row">
			</div>
		</div>
		<footer th:replace="~{layout/template :: footer}"></footer>
	</body>
</html>
